@model AMS.Core.Models.Applicant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Applicant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IIN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IIN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Residence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Residence)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MilitaryDocument)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MilitaryDocument)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Diplomas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Diplomas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
